extends layout

block content
  
      #wrap
           #topmenu
               
               #box
                     a(href='/') Home
               #box
                     a(href='logout') Logout  
               #box
                     a(href='test') Test
           #home
               h1 Welcome #{user.firstname} to your account
                   br
                   a(href='test') Take a screen shot of a url
                   
                  


      
              
           
                 

               