extends layout

block content
  
      #wrap
           #topmenu
               #box
                     a(href='login') Login
               #box
                     a(href='register') Register
               #box
                     a(href='account') Account     
           #home
              
               h1 Welcome to Screen Catcher 
               h4 Please login or create an account

           


                 

