extends layout

block content
  
      #wrap
           #topmenu
               #box
                     a(href='login') Login
               #box
                     a(href='register') Register
               #box
                     a(href='account') Account    
           #leftside
               h2 left 
           #content
               h2 main
           


                 

